/* ==UserStyle==
@name           Notion-Black
@namespace      github.com/openstyles/stylus
@version        1.0
@description    Toggle borders: closed=transparent, open=grey, focused deepest=blue
@author         You
==/UserStyle== */

@-moz-document domain("notion.so"), domain("notion.site") {
  /* local palette */
  :root {
    --nt-border-open: #454545;
    --nt-border-active: #53aaff;
  }

  /* links and text */
  .notion-dark-theme { --c-bacPri: #000; }
  .layout a { color: var(--nt-border-active) !important; }
  .layout a span { opacity: 1 !important; }
  .layout { 
    color: #fff !important;
    font-family: "Open Sans", sans-serif, "Monaspace Argon Var";
    font-weight: 300 !important;    
    }
  .notion-page-content{
    font-size: 16px!important;
    line-height: 1.3!important;
    }
  .notion-list-item-box-left.pseudoSelection{
        min-height: calc(1.3em + 6px)!important;
    }

  /* bloc toggle : base */
  .notion-toggle-block {
    border: 1px solid transparent !important;
    border-radius: 10px;
    background-clip: padding-box;
    transition: border-color .5s ease;
  }

  /* opened, not active => grey */
  .notion-toggle-block:has(> div [aria-expanded="true"]) {
    border-color: var(--nt-border-open) !important;
  }

  /* opened, active, only deepest toggle block => bleu */
  .notion-toggle-block:focus-within:not(:has(.notion-toggle-block:focus-within)) {
    border-color: var(--nt-border-active) !important;
  }

  /* accessibility : animation is optional */
  @media (prefers-reduced-motion: reduce) {
    .notion-toggle-block { transition: none !important; }
  }

  /* complete full width  */
  .layout.layout-wide {
    --margin-width: 30px !important;
  }

  .notion-page-content > div[data-block-id] {
    max-width: 100% !important;
  }    
}
